.logo_type{
    width: 80px;
    height: 80px;
}
.w100{
    width: 100%;
    height: 100%;
}
.slid_img{
    width: 600px;
}
.shoot_img{
    width: 300px;
}
.member_tag{
    font-size: 70px;
    text-align: center;
}
.member_card1{
    font-size: 20px;
    background-color: rgba(217, 182, 237);
}
.member_card2{
    font-size: 20px;
    background-color: rgba(244, 184, 218);
}
.member_card3{
    font-size: 20px;
    background-color: rgba(231, 251, 189);
}
.member_card4{
    font-size: 20px;
    background-color: rgba(255, 255, 192);
}
.member_b{
    color: blueviolet;
}
.execute_img{
    width: 35%;
    margin-left: 80px;
}
.footer-pioneer{
    background-color: rgb(1, 62, 109);
    border-top: solid rgb(170, 48, 0);
}
.footer-text-header{
    font-size: 35px;
    color: rgb(170, 48, 0);
}
footer ul{
    list-style-type: none;
    margin-right: 0px;
    padding-right:  0px;
}
footer ul li {
    margin-top: 20px;
}
footer ul li a {
    text-decoration: none;
    color: rgb(68, 151, 0);
}
.footer-ul li a:hover{
    color: rgb(12, 217, 64);
}
.footer-text{
    font-size: 15px;
    color: rgb(68, 151, 0);
}
.single-title{
    font-size: 40px;
    color: rgb(247, 72, 72);
    margin-left: 45px;
}
.sidebar{
    position: sticky;
    top: 100px;
}
.social-title{
    font-size: 30px;
    font-weight: 800;
    color: brown;
    text-align: center;
    margin-top: 10px;
}
.sidebar-img{
    height: auto;
    width: 85%;
    border-radius: 2rem;
    display: block;
    margin-left: auto;
    margin-left: auto;

}
.card-pic{
    height: 50px;
    width: 50px;
    margin: 10px;
    margin-left: 40%;
}